<div class="dashboard-wrapper">
  <div class="dashboard-wrapper__message col-sm-12">
    Welcome to MyShop
  </div>
  <div class="col-sm-12 card-wrapper">
    <div class="col-sm-6 offset-sm-3 d-flex">
      <div class="col-sm-5">
        <div class="card" routerLink="products/search-product">
          <div class="card-body">
            <div class="card-body__icon">
              <i class="fa fa-search"></i>
            </div>
            <div class="card-body__text">
              Search Products
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5 offset-sm-1">
        <div class="card" routerLink="products/edit-product">
          <div class="card-body">
            <div class="card-body__icon">
              <i class="fa fa-edit"></i>
            </div>
            <div class="card-body__text">
              Edit Products
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
